.u-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.c-carousel {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.c-carousel__wrapper.swiper {
  margin: 0 48px;
  position: static;
}

.c-carousel__item.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-carousel img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Important for smooth transition */
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}